<!DOCTYPE html>

<html lang="en">
<head>="UTF-
    <meta charst8">
    <meta name="viewport" content="width= device-wdith", initial-scal=1.0">
    <title>@ViewBag.title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
    <div class="container-fluid">
        @RenderBody()
    </div>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>
