@model List<Category>

<!-- Button trigger model -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="exampleModal">
    Add Category
</button>
<!-- Model -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModal" aria-hidden="true">
    <div class="modal-dialog">
        <form method="post" action="/category/add" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <label >Name</label>
                    <input type="text" name="name">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-primary">Save Changes</button>
            </div>
        </form>
    </div>
</div>


<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Command</th>
        </tr>
    </thead>
    <tbody>
         @foreach (var item in Model)
         {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
            </tr>
         }
    </tbody>
</table>